@import "tailwindcss";
/* src/index.css*/
@tailwind base;
@tailwind components;
@tailwind utilities;

button {
  cursor: pointer;
}

@media only screen and (max-width: 1400px) {
  html {
    font-size: 90% !important;
  }
}
@media only screen and (max-width: 900px) {
  html {
    font-size: 80% !important;
  }
}
@media only screen and (max-width: 450px) {
  html {
    font-size: 60% !important;
  }
}
